<h1>About This Website</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, eveniet dignissimos! Dolorem doloribus amet repellendus necessitatibus accusamus incidunt perspiciatis maxime numquam quidem fuga. Quisquam, voluptas! Magnam nisi aliquid est. Consectetur laboriosam officia id placeat exercitationem amet ea quo excepturi magni.</p>
<h4>Developed by</h4>
<div class="row">
    <div class="col">
        <img src="img/Mikir 16.jpg" class="img-thumbnail rounded-circle" width="200px" alt="">
        <h5>Jessica</h5>
        <p class="fs-6 mb-n2" style="margin-top: -0.5rem;">Hope You Have A Nice Day!</p>
        <p style="margin-top: -0.8rem;font-size: 0.85rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quisquam numquam culpa quibusdam laudantium vitae alias corrupti rerum fugiat doloremque.</p>
    </div>
</div>